<!DOCTYPE html>


<html>
    <head>
        <title>School News</title>
        <style>
            body {background-color :yellow;
            }
            p.byline {
                font-style : italic;
            }
            h1 {
                text-align : center;
            }
            strong {font-size : 30px;
            }

        </style>
    </head>

    <body>
        <h1>School News</h1>
        <div>
            Brought to you at great emotional cost... <br />
            <strong>{{ boldmessage }}</strong>
            <hr>
        </div>

        <div>
            {% if NewsItems %}
                <ul>
                {% for NewsItem in NewsItems %}
                    <h2>{{ NewsItem.title }}</h2>
                    <p class = "byline">{{ NewsItem.author }} - {{ NewsItem.date }}</p>
                    {{ NewsItem.story }}
                    <br>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

    </body>
</html>